.volunteer {
  max-width: 1200px;
  display: flex;
  margin: 20px auto;

  .social-links {
    margin-left: -10px;
  }
}
.volunteer__details,
.volunteer__photo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 15px;

  img {
    width: 100%;
  }
}
.volunteer__photo {
  text-align: center;

}

.volunteer__details {
  padding-left: 10%;
}

.volunteer__name {
  &:after {
    content: '';
    height: 5px;
    width: 20%;
    display:block;
    margin-top: 20px;
    background-color: #9ac14e;
  }
}

.volunteer__description {
  text-align: justify;
}

@media screen and (max-width: 568px) {
  .volunteer {
    flex-direction: column;
  }
  .volunteer__photo {
    max-height: 300px;
    overflow: hidden;
    flex-basis: 100%;
    img {
    }
  }
  .volunteer__details {
    padding-left: 0;
  }
}