@import "~slick-carousel/slick/slick.less"; 
@import "~slick-carousel/slick/slick-theme.less";

.slick-slider {
  width: 100%;
}

.carousel-slide {
  width: 100%;
  height: ~"calc(100vh - 75px)";
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  position: relative;
}

.carousel-slide__text-content {
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-slide__title {
  margin-top: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 20px
}

.carousel__dots {
  right: 0;
  bottom: auto;
  top: 0;
  width: 50px;
  display: flex !important;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  li {
    margin: 10px 0;
    width:26px;
    height: 26px;
  }
  li button {
    color: #fff;
    padding: 0;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    width: 100%;
    height: 100%;
  }
  li button::before {
    font-size: 25px;
    height: 26px;
    line-height: 26px; 
  }
li button:hover::before {
}
}